body{
    background-image: url(../imagens/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    height: 100%;
}

.menu_oculto{
    margin-top: 0%;
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 950px;
    border-radius: 0px 0px 7px 7px;
    padding-top: 10px;

}

.navbar li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    padding-top: 10px;
}

.abrir{
    background-color: red;
    height: 20px;
    margin-bottom: 0%;
}



