body{
    margin: 0%;
    width: 100;
    background-image: url(../imagens/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div_cabecalho{
    width: 1000px;
    height: 70px;
    background-color: rgba(243, 0, 0, 0.801);
    margin-left: 170px;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    margin-top: -100px;
}

#menu_bar{
    display: flex;
    margin-left: 250px;
    margin-top: 10px;
    cursor: pointer;
    
}

#menu_bar ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    color: black;
}

#menu_bar ul a{
    text-decoration: none;
    color: black;
}

#menu_bar ul:hover{
    background-color: blue;
    border-width: 2px;
    border-style: groove;
    border-color: black;
}

#div_conteudo{
    width: 700px;
    height: 800px;
    background-color: white;
    margin-top: 40px;
    margin-left: 320px;
    border-radius: 0px 0px 20px 20px;
    margin-top: 100px;
}

#div_conteudo_superior{
    /* background-color: red; */
    width: 100%;
    height: 8%;
    padding-top: 10px;
}


#divBusca{
    background-color:#a5adad;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    margin-left: 180px;
  
  }


  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

  #divBusca img{
      width: 29px;
  }